#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, manipulation, and analysis of the data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems that differ in their data models, query languages, and scalability options.

##### Differences :

1.Data Model: SQL databases follow a fixed schema with predefined tables and relationships, whereas NoSQL databases have a flexible schema that allows for dynamic and unstructured data.

2.Query Language: SQL databases use SQL as the query language, which provides a standardized way to interact with the data. NoSQL databases have their own query languages, which vary depending on the database type (e.g., MongoDB uses a JSON-based query language).

3.ACID Properties: SQL databases generally support ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional consistency. NoSQL databases often relax some of these properties in favor of performance and scalability.

4.Data Relationships: SQL databases are well-suited for handling complex relationships between data entities through the use of foreign keys and join operations. NoSQL databases handle relationships differently depending on the data model, often denormalizing or embedding related data within a single document or record.MongoDB uses a JSON-based query language).

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL : data definition language.

DDL is used to define and manage the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

1.CREATE: 
The CREATE statement is used to create a new database object

Syntax :CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
);

2.DROP: 
The DROP statement is used to delete an existing database object, such as a table or a view.

Syntax :DROP TABLE Customers;

3.ALTER: 
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of a table.

Syntax :

(i)Add :ALTER TABLE Customers
ADD Address VARCHAR(200);

(ii)TRUNCATE: The TRUNCATE statement is used to delete all data from a table including structure.

Syntax :TRUNCATE TABLE Customers;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language.DML statements are used to retrieve, insert, update, and delete data in a database.

DML statements :

INSERT: The INSERT statement is used to add new records or rows into a table. You can insert a single row or multiple rows at a time. 

Syntax :INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

2.UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns for specific rows in the table.

Syntax:UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

3.DELETE: The DELETE statement is used to remove one or more rows from a table based on a specific condition.

Syntax:DELETE FROM table_name
WHERE condition;

##### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language,used for retrieving data from a database. DQL statements, primarily the SELECT statement, allow you to query the database and retrieve specific data based on specified conditions.

Syntax:SELECT column1, column2, ...
FROM table_name
WHERE condition;

there are several examples under select statement.

Let's consider an example where we have a table called "Employees" with columns such as ID, Name, Age, Department, and Salary. We want to retrieve the names and salaries of employees who belong to the "Sales" department and have a salary greater than $50,000.

Ex:SELECT Name, Salary
FROM Employees
WHERE Department = 'Sales' AND Salary > 50000;

##### Q5. Explain Primary Key and Foreign Key.

1.Primary Key:

A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table.

Properties:

1.Uniqueness: Every value in a primary key column must be unique. No two rows in the table can have the same primary key value.

2.Non-Nullability: Primary key columns cannot contain null values. Each row must have a valid value for the primary key column(s).

2.Foreign Key:

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship.

Properties:

1.Referential Integrity: Foreign keys maintain referential integrity, ensuring that the values in the foreign key column(s) correspond to the values in the primary key column(s) of the referenced table.

2.Relationship: A foreign key in a child table references the primary key of the parent table, establishing a relationship between the two tables.

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM your_table")

result = mycursor.fetchall()

for row in result:
    print(row)
    
mycursor.close()

mydb.close()

cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results. It acts as a handle or pointer to the result set returned by the database server.

execute(): The execute() method is used to execute an SQL query or statement. It takes the SQL query as a parameter and sends it to the MySQL database server for execution. The result of the execution is stored in the cursor object.

##### Q7. Give the order of execution of SQL clauses in an SQL query.

1.SELECT: The SELECT clause is executed first. It specifies the columns or expressions to retrieve from the database tables.

2.FROM: The FROM clause is executed after the SELECT clause. It specifies the table or tables from which the data will be retrieved.

3.WHERE: The WHERE clause is executed after the FROM clause. It filters the rows based on specified conditions. Only the rows that satisfy the conditions in the WHERE clause are included in the result set.

4.GROUP BY: The GROUP BY clause is executed after the WHERE clause. It groups the rows based on specified columns. This is often used in conjunction with aggregate functions like COUNT, SUM, AVG, etc.

5.HAVING: The HAVING clause is executed after the GROUP BY clause. It filters the grouped rows based on specified conditions. Only the grouped rows that satisfy the conditions in the HAVING clause are included in the result set.

6.ORDER BY: The ORDER BY clause is executed after the HAVING clause. It sorts the result set based on specified columns or expressions. The sorting can be done in ascending (ASC) or descending (DESC) order.